{{- if .Values.rbac.create -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kor.serviceAccountName" . }}-read-resources-role
  labels:
    {{- include "kor.labels" . | nindent 4 }}
rules:
{{ include "kor.namespacedResourceRules" . | nindent 2 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kor.serviceAccountName" . }}-read-resources-clusterrole
  labels:
    {{- include "kor.labels" . | nindent 4 }}
rules:
{{ include "kor.namespacedResourceRules" . | nindent 2 }}
{{- $clusterRes := .Values.rbac.clusterResources }}
# If clusterResources is not defined or is a non-empty list, include cluster resource rules.
{{- if or (not (kindIs "slice" $clusterRes)) (gt (len $clusterRes) 0) }}
{{ include "kor.clusterResourceRules" . | nindent 2 }}
{{- end }}
{{- end }}
