{{- if include "kor.createRole" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kor.serviceAccountName" . }}-read-resources-role
  labels:
    {{- include "kor.labels" . | nindent 4 }}
rules:
{{ include "kor.resourceRules" . | nindent 2 }}
{{- end }}
{{- if include "kor.createClusterRole" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kor.serviceAccountName" . }}-read-resources-clusterrole
  labels:
    {{- include "kor.labels" . | nindent 4 }}
rules:
{{ include "kor.resourceRules" . | nindent 2 }}
{{- end }}
